<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <a href="<%= product_path(product) %>">
          <%= image_tag product.main_product_image.image.large.url, class: "card-img-top" %>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= link_to product.title, product_path(product), class: "text-secondary" %></h5>
          <p class="card-text"><strong>¥<%= product.price %></strong> <span class="msrp">¥<%= product.msrp %></span></p>
          <p class="card-text"><%= show_add_to_cart product, html_class: "btn-sm" %></p>
        </div>
      </div>
    </div>
  <% end -%>
</div>
<%= paginate @products %>

<%= content_for :javascripts do %>
  <script>
    $('.add-to-cart-btn').on('click', function() {
      var $this = $(this),
        $amount = $('input[name="amount"]'),
        $prog = $this.find('i');

      if ($amount.length > 0 && parseInt($amount.val()) <= 0) {
        alert("购买数量至少为 1");
        return false;
      }

      $.ajax({
        url: $this.attr('href'),
        method: 'post',
        data: { product_id: $this.data('product-id'), amount: $amount.val() },
        beforeSend: function() {
          if (!$prog.hasClass('fa-spin')) {
            $prog.addClass('fa-spin');
          }
          $prog.show();
        },
        success: function(data) {
          if ($('#shopping_cart_modal').length > 0) {
            $('#shopping_cart_modal').remove();
          }

          $('body').append(data);
          $('#shopping_cart_modal').modal();
        },
        complete: function() {
          $prog.hide();
        }
      })

      return false;
    })
  </script>
<% end %>
