<div class="row">
  <div class="col-lg-3">
    <%= render 'welcomes/categories' %>
  </div>
  <div class="col-lg-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
        <li class="breadcrumb-item active"><%= @category.parent.name %></li>
        <li class="breadcrumb-item active"><%= @category.name %></li>
      </ol>
    </nav>
    <%= render 'welcomes/products' %>
  </div>
</div>
